/Processed
/processed2
/stablediffusion-main/**
/Videos
/audiotracks
codecache.py
hazel-strand-393310-66038e1e9eed.json
codecache2.py
SDgenerate.py
storyobjectsRemoveDuplicates.py
text2chatgpt.txt
__pycache__/storyobjects.cpython-310.pyc
__pycache__/artists.cpython-310.pyc
